@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/select/mdc-select";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/layout-grid/mdc-layout-grid";
/*
body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
 background-attachment: fixed;
 display: flex;
 height: 100vh;
 font-family: 'Pirata One';
}
img:not([src]) {
   visibility: hidden;
}

.attempt{
  @include mdc-drawer-width(300px);
}
.mdc-drawer__content {
  background-image: url('/images/gloommap.jpg');
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100%;

}
.mdc-list-item__text {
  font-family: 'Pirata One';
  font-size: 24px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  background: none;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Note: these styles do not account for any paddings/margins that you may need.

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
  color:black;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
  z-index: 7;
  background-color: #ac8357;

}
.mdc-top-app-bar__title {
  font-family:'Pirata One';
  font-size: 36px;
}
.mdc-drawer__content {
  background-image: url('/images/gloommap.jpg');
  background-repeat: no-repeat;
 background-attachment: fixed;
 height: 100%;

}
body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
 background-attachment: fixed;
 display: flex;
 height: 100vh;
 font-family: 'Pirata One';
}

img:not([src]) {
   visibility: hidden;
}
@media only screen and (min-width: 601px) {
.rounded {
  border-radius: 35px;
  display: block;
  width: 100%;
  height: auto;
}
}
@media only screen and (max-width: 600px) {
.rounded {
  border-radius: 35px;
  display: block;
  width: 80%;
  height: auto;
}
}


.rounded_s {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: auto;
}
