body {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
 background-attachment: fixed;
}

.rounded {
  border-radius: 35px;
  display: block;
  width: 100%;
  height: auto;
}
